table {
	border: 1px solid purple;
}

a {
	background-color: pink;
	transition: background-color .10s;
}

a:hover {
	background-color: purple;
}

tr, td {
	background-color: white;
	color: lightcyan;
}

tr, th {
	background-color: lightblue;
	color: 
}

